<div id="login-form">
        <h3>Please enter your admin password</h3>
        <mat-form-field appearance="fill">
             <mat-label>Enter Admin Code</mat-label>
            <input matInput name="AdminAccessCode" type="password" [(ngModel)]="admincode" placeholder="Admin access Code">
        </mat-form-field>
        <button mat-button color="primary" (click)="validateAdminAccessCode()">submit</button>
        <h3>If you do not have admin access, <a routerLink="">click here</a></h3>
</div>
