<footer id="footer">
      
  <div>
    <ul id="para">
      <li><strong>
          
          <h4 >ABOUT</h4>
        </strong></li>
      <p >We are a Baking Based company specialized in making products for events and retail purposes</p>
    </ul>
  </div>
  <div>
    
    <ul id="service">
      <li><strong >
          
          <h4>SERVICES</h4>
        </strong></li>
      <li><a href="#"><i aria-hidden="true"></i> Cakes and sweets</a></li>
      <li><a href="#"><i aria-hidden="true"></i> Catering</a></li>
    </ul>
  </div>
  <div>
  
    <ul id="company">
      <li><strong>
          
          <h4>COMPANY</h4>
        </strong></li>
      <li><a href="#"><i aria-hidden="true"></i> Home</a></li>
      <li><a routerLink="login" href="#"><i aria-hidden="true"></i> Admin</a></li>
    </ul>
  </div>
  <div class="connect">
    
    <ul id="strong  ">
      <li><strong>
          <h4>connect</h4>
        </strong></li>
        
      <li id="instagram"><img src="../../assets/instagram.png">
      <li id="mail"><img src="../../assets/facebook.png">
      <li id="address"><img src="../../assets/twitter.png">
    </ul>
  </div>


</footer>